In [2]:
import pandas as pd

In [3]:
tbl0 = pd.read_csv("tbl0.tsv", sep="\t")
tbl1 = pd.read_csv("tbl1.tsv", sep="\t")
tbl2 = pd.read_csv("tbl2.tsv", sep="\t")

In [4]:
tbl0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _c0     40 non-null     int64
 1   _c1     40 non-null     object
 2   _c2     40 non-null     int64
 3   _c3     40 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

In [5]:
tbl1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _c0     113 non-null    int64
 1   _c4     113 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [6]:
tbl2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _c0     175 non-null    int64
 1   _c5a    175 non-null    object
 2   _c5b    175 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.2+ KB

In [27]:
x = tbl0.shape
regs = x[0]
regs

40

In [28]:
x = tbl0._c1.value_counts().sort_index()
x

A     8
B     7
C     5
D     6
E    14
Name: _c1, dtype: int64

In [9]:
x = tbl0.groupby('_c1')["_c2"].mean()
x

_c1
A    4.625000
B    5.142857
C    5.400000
D    3.833333
E    4.785714
Name: _c2, dtype: float64

In [10]:
tbl0.groupby('_c1')["_c2"].max()

_c1
A    9
B    9
C    9
D    7
E    9
Name: _c2, dtype: int64

In [11]:
sorted(tbl1["_c4"].str.upper().unique())

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [12]:
tbl0.groupby('_c1')["_c2"].sum()

_c1
A    37
B    36
C    27
D    23
E    67
Name: _c2, dtype: int64

In [13]:
tbl0["_c2"] = tbl0["_c2"].astype('str')
tbl0.groupby('_c1')[str("_c2")].apply(lambda x: ':'.join(sorted(x)))

_c1
A                1:1:2:3:6:7:8:9
B                  1:3:4:5:6:8:9
C                      0:5:6:7:9
D                    1:2:3:5:5:7
E    1:1:2:3:3:4:5:5:5:6:7:8:8:9
Name: _c2, dtype: object

In [14]:
A= tbl1.groupby("_c0")["_c4"].apply(lambda x: ";".join(sorted(x))).reset_index()
A["_c4"].head().tolist()

['b;f;g', 'a;c;f', 'a;c;e;f', 'a;b', 'a;d;f;g']

In [15]:
tbl2["_c5b"] = tbl2["_c5b"].astype('str')
tbl2["_c5"] = tbl2["_c5a"].str.cat(tbl2["_c5b"],sep = ':')
tbl2.groupby("_c0")["_c5"].apply(lambda x: ";".join(sorted(x))).reset_index()

    _c0                                  _c5
0     0        bbb:0;ddd:9;ggg:8;hhh:2;jjj:3
1     1              aaa:3;ccc:2;ddd:0;hhh:9
2     2              ccc:6;ddd:2;ggg:5;jjj:1
3     3              bbb:1;eee:7;hhh:9;iii:5
4     4              ddd:5;eee:4;iii:6;jjj:3
5     5        aaa:7;bbb:2;ccc:4;fff:1;hhh:0
6     6  aaa:5;ccc:1;ddd:2;fff:8;iii:0;jjj:7
7     7                    ddd:2;fff:3;hhh:1
8     8  bbb:0;ccc:5;eee:4;fff:7;ggg:6;iii:9
9     9  bbb:7;eee:3;fff:5;ggg:2;iii:4;jjj:9
10   10        eee:4;fff:2;hhh:6;iii:0;jjj:1
11   11                    bbb:7;ggg:9;iii:6
12   12        aaa:3;bbb:9;ccc:6;eee:2;fff:4
13   13                    aaa:8;ddd:5;jjj:1
14   14        aaa:2;ccc:0;ddd:3;fff:7;jjj:6
15   15              bbb:9;ccc:0;ddd:3;eee:6
16   16  bbb:6;ddd:2;fff:4;ggg:9;hhh:5;iii:3
17   17                    ccc:9;hhh:4;jjj:5
18   18                    ccc:1;fff:9;iii:6
19   19                    aaa:3;bbb:9;fff:1
20   20                    aaa:4;ddd:9;iii:2
21   21                    ccc:5;fff:8;iii:7
22   22                    ddd:7;eee:3;jjj:2
23   23        bbb:3;ccc:7;ddd:9;ggg:0;jjj:1
24   24  aaa:1;ccc:0;ggg:8;hhh:9;iii:7;jjj:6
25   25  bbb:7;ccc:1;ddd:0;eee:6;fff:3;iii:4
26   26                    ccc:4;ddd:5;fff:0
27   27        ccc:0;ddd:9;ggg:6;hhh:3;jjj:7
28   28        ccc:3;eee:5;hhh:6;iii:7;jjj:0
29   29  aaa:2;ccc:7;ddd:6;eee:1;fff:4;ggg:0
30   30        aaa:9;bbb:3;ccc:6;ddd:0;eee:5
31   31  aaa:6;bbb:7;ddd:5;fff:9;hhh:1;iii:4
32   32              ccc:1;eee:5;fff:3;ggg:2
33   33  ccc:1;ddd:0;ggg:3;hhh:5;iii:7;jjj:8
34   34        bbb:8;ccc:3;ddd:7;hhh:6;jjj:0
35   35                    aaa:0;ddd:3;fff:5
36   36        bbb:4;ccc:0;ddd:5;iii:7;jjj:2
37   37                    eee:0;fff:2;hhh:6
38   38                    eee:0;fff:9;iii:2
39   39                    ggg:3;hhh:8;jjj:5

In [16]:
tbl2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   _c0     175 non-null    int64
 1   _c5a    175 non-null    object
 2   _c5b    175 non-null    object
 3   _c5     175 non-null    object
dtypes: int64(1), object(3)
memory usage: 5.6+ KB

In [35]:
tbl0.set_index("_c0")
tbl2.set_index("_c0")
tbl2["_c5b"] = tbl2["_c5b"].astype('int')
sln2 = pd.merge(tbl0,tbl2,on="_c0")
x = sln2.groupby("_c1")["_c5b"].sum()
print(x)

_c1
A    146
B    134
C     81
D    112
E    275
Name: _c5b, dtype: int32

In [26]:
tbl2["_c5b"] = tbl2["_c5b"].astype('int')
df = pd.merge(tbl0,tbl2,how="left").drop(["_c2","_c3"], axis = 1)
df["_c1n"] = df["_c1"] + ":"
df.rename(columns={"_c1" : "_c1v", "_c1n" : "_c1"}, inplace=True)
sln2 = df.groupby("_c1")["_c5b"].sum()
sln2

_c1
A:    146
B:    134
C:     81
D:    112
E:    275
Name: _c5b, dtype: int32